/*
 * ==================================
 * Archivo    : skills.css;
 * Descripcion: Archivo de estilos de
                la seccion del Habilidades
                profesionales (index.html);
 * Autor      : Raul Ibañez;
 * Version    : 1.0;
 * Fecha      : 27/10/2022;
 * Observacion: Diseño Mobile First;
 * ==================================
*/
.skills{
  max-width: 980px;
  margin: 0 auto;
}
.skills-title{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.skills-skill{
  background-color: var(--neutral-color);
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0,0,0, 0.25 );
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 10px;
}
.skills-list{
  list-style:none;
  padding-left: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*--------------MEDIA QUERY PARA ESCRITORIO-----------*/
@media (min-width: 950px){
  .skills-title{
    font-size: 50px;
  }
  .skills-skill{
    font-size: 30px;
    margin: 20px;
  }
}
